<footer class="footer wrap cf">
<span class="copyright">© <script>document.write(new Date().getFullYear())</script>. <a href="/">BacaQuran</a></span>
<span class="privasi"><a href="/kebijakan-privasi">Kebijakan Privasi</a></span>
</footer>
